@model Vino.Server.Services.MainServices.CRM.Carrier.Model.CarrierModel
<body>
    <section class="wr-main">
        <div class="out-content-mid no-mb no-minheight">
            <div class="container-fluid">
                <div class="row" id="form_new">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>Code</label>
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new {@class = "form-control", @readonly = "readonly" } })
                            @*<input type="text" value=@Model.JobID class="form-control" placeholder="">*@
                            <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>Name</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@class = "form-control" } })
                            @*<input type="text" value=@Model.JobID class="form-control" placeholder="">*@
                            <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>English Name</label>
                            @Html.EditorFor(model => model.FullEnglishName, new { htmlAttributes = new {  @class = "form-control" } })
                            @*<input type="text" value=@Model.JobID class="form-control" placeholder="">*@
                            <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>Country</label>
                            @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.CountryItems, "Value", "Text"), new {  @class = "form-control select-style-1" })
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>Cell</label>
                            @Html.EditorFor(model => model.Cell, new { htmlAttributes = new { @class = "form-control" } })
                            <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="out-input">
                            <label>Contact</label>
                            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new {@class = "form-control" } })
                            @*<input type="text" value=@Model.JobID class="form-control" placeholder="">*@
                            <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>



