@using Falcon.Web.Mvc.HtmlExtensions
@using Vino.Shared.Constants.Common
@model Vino.Server.Services.MainServices.CRM.Carrier.Model.CarrierModel
@{
}
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Code)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*Code*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Code :</label>
                                </div>
                                <div class="col-md-7">
                                    <input readonly="readonly" type="text"
                                           class="form-control" id="@Html.FieldIdFor(model => model.Code)"
                                           name="@Html.FieldIdFor(model => model.Code)" value="@Model.Code" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Name:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Name)
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*English Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">English Name:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.FullEnglishName)
                                    @Html.ValidationMessageFor(m => m.FullEnglishName)
                                </div>
                                <div class="col-md-1"></div>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Country*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Country:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.CountryId)"
                                           name="@Html.NameFor(model => model.CountryId)"
                                           value="@Html.ValueFor(model => model.CountryId)" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.CountryId)").kendoComboBox({
                                                filter: "contains",
                                                dataTextField: "Name",
                                                dataValueField: "Value",
                                                placeholder: "Chọn countries...",
                                                minLength: 1,
                                                dataSource: {
                                                    type: "json",
                                                    serverFiltering: true,
                                                    transport: {
                                                        read: {
                                                            url: "/api/LookupApi/GetCountries",
                                                            dataType: "json",
                                                            data: filterCountries
                                                        }
                                                    }
                                                }
                                            });

                                            function filterCountries() {
                                                var data = {
                                                    @*Name: $("#@Html.FieldIdFor(model => model.PlaceOfIssueId)")
                                                        .data("kendoComboBox").input.val()*@
                                                    Name : ""
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.CountryId)
                                </div>
                                <div class="col-md-1">
                                    <a onclick="openLookupPopup('@Html.FieldIdFor(m => m.CountryId)', '@LookupTypes.NationalityType')">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Cell*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Cell :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Cell)
                                    @Html.ValidationMessageFor(m => m.Cell)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Contact*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Contact:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Contact)
                                    @Html.ValidationMessageFor(m => m.Contact)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-close" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
        <input type="submit" id="btnRefreshLookupItems" style="display: none" />
    </div>
</div>

<script>
    function openLookupPopup(viewId, type) {

        var url = '/Admin/Lookup/LookupAddPopup?viewId=' +
            viewId + "&type=" + type +
            '&btnId=btnRefreshLookupItems&formId=carrier-edit-form';
        OpenWindow(url, 800, 800, true);
    }

    $(document).ready(function () {
        $('#btn-close').click(function () {
            window.close();
        });
        $('#btnRefreshLookupItems')[0].addEventListener("lookup",
            function (event) {
                //refresh combobox
                $("#" + event.detail.viewId).data("kendoComboBox").dataSource.read();
                $("#" + event.detail.viewId).data("kendoComboBox").value(event.detail.valueId);

                return false;
            });

    });
</script>
