@using System.Globalization
@using Falcon.Web.Mvc.HtmlExtensions
@model Vino.Server.Services.MainServices.CRM.FclImp.Models.FclImpModel
@{
    <style>
        .k-combobox .k-input {
            height: 27.5px !important
        }
    </style>
}
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.JobId)

@{
    Layout = null;
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*JobId*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">JobId:</label>
                                </div>
                                <div class="col-md-7">
                                    <label class="control-label">@Model.JobId</label>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*OPIC*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">O.P IC:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.OpIcId, new SelectList(Model.ContactItems, "Value", "Text"),
                                                  new { @Id = @Html.FieldIdFor(m => m.OpIcId), @class = "form-control select-style-1 DrpContact" })
                                    @Html.ValidationMessageFor(model => model.OpIcId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Contact")" id="create-opic">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Slines*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">S.Lines:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.SlinesId, new SelectList(Model.CarrierItems, "Value", "Text"),
                                                  new { @Id = @Html.FieldIdFor(m => m.SlinesId), @class = "form-control select-style-1 DrpCarrier" })
                                    @Html.ValidationMessageFor(model => model.SlinesId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Carrier")" id="create-sline">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Created*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Created:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.Created)"
                                           name="@Html.FieldIdFor(model => model.Created)" value="@Model.Created"
                                           style="width: 100%" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.Created)").kendoDatePicker({
                                                culture: "vi-VN",
                                                format: "dd/MM/yyyy"
                                            });
                                            $("#@Html.FieldIdFor(model => model.Created)")
                                                .prop("readonly", "readonly");
                                        });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.Created)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*S.C Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">S.C Name :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.ScName)
                                    @Html.ValidationMessageFor(model => model.ScName)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Agent*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Agents:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.AgentId, new SelectList(Model.CarrierItems, "Value", "Text"),
                                                  new { @Id = @Html.FieldIdFor(m => m.AgentId), @class = "form-control select-style-1 DrpCarrier" })
                                    @Html.ValidationMessageFor(model => model.AgentId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Carrier")" id="create-agent">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Eta*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Eta:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.Eta)"
                                           name="@Html.FieldIdFor(model => model.Eta)" value="@Model.Eta"
                                           style="width: 100%" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.Eta)").kendoDatePicker({
                                                culture: "vi-VN",
                                                format: "dd/MM/yyyy"
                                            });
                                            $("#@Html.FieldIdFor(model => model.Eta)")
                                                .prop("readonly", "readonly");
                                        });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.Eta)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*M-B/L No*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">M-B/L No :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.MblNumber)
                                    @Html.ValidationMessageFor(model => model.MblNumber)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Addition Data*@
                        <div class="col-md-4">
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*PO No*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">PO No :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.PoNumber)
                                    @Html.ValidationMessageFor(model => model.PoNumber)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        
                        @*Vessel*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Vessel:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.VesselId, new SelectList(Model.VesselItems, "Value", "Text"),
                                        new { @Id = @Html.FieldIdFor(m => m.VesselId), @class = "form-control select-style-1" })
                                    @Html.ValidationMessageFor(model => model.VesselId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        
                        @*Voyage*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Voyage :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.VoyageId, new SelectList(Model.VoyageItems, "Value", "Text"),
                                        new { @Id = @Html.FieldIdFor(m => m.VoyageId), @class = "form-control select-style-1" })
                                    @Html.ValidationMessageFor(model => model.VoyageId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>

                      
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*POL*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">P.O.L:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.PolId, new SelectList(Model.PortItems, "Value", "Text"),
                         new { @Id = @Html.FieldIdFor(m => m.PolId), @class = "form-control select-style-1 DrpPort" })
                                    @Html.ValidationMessageFor(model => model.PolId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PolPort">Add</a>
                                </div>
                            </div>
                        </div>
                        @*POD*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">P.O.D:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.PodId, new SelectList(Model.PortItems, "Value", "Text"),
                                        new { @Id = @Html.FieldIdFor(m => m.PodId), @class = "form-control select-style-1 DrpPort" })
                                    @Html.ValidationMessageFor(model => model.PodId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PodPort">Add</a>
                                </div>
                            </div>
                        </div>
                        
                        @*Delivery*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Delivery:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.DeliveryId, new SelectList(Model.PortItems, "Value", "Text"),
                                        new { @Id = @Html.FieldIdFor(m => m.DeliveryId), @class = "form-control select-style-1 DrpPort" })
                                    @Html.ValidationMessageFor(model => model.DeliveryId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-delivery">Add</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                <div class="row" style="margin-top: 10px">
                    @*Service*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Service:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Service)
                                @Html.ValidationMessageFor(model => model.Service)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    
                    @*MblType*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">MblType:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.MblTypeId, new SelectList(Model.MblItems, "Value", "Text"),
                                    new { @Id = @Html.FieldIdFor(m => m.MblTypeId), @class = "form-control select-style-1 " })
                                @Html.ValidationMessageFor(model => model.MblTypeId)
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                    
                    @*Container*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Container:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Container)
                                @Html.ValidationMessageFor(model => model.Container)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                   
                </div>
                <div class="row" style="margin-top: 10px">
                    @*GW*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">GW :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Gw)
                                @Html.ValidationMessageFor(model => model.Gw)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    @*CBM*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">CBM :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Cbm)
                                @Html.ValidationMessageFor(model => model.Cbm)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    @*SHipment*@
                    <div class="col-md-4">
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Shipments:</label>
                            </div>
                            <div class="col-md-7">
                                <input id="@Html.FieldIdFor(model => model.ShipmentId)"
                                       name="@Html.FieldNameFor(model => model.ShipmentId)"
                                       value="@Html.ValueFor(model => model.ShipmentId)" />
                                <script>
                                    $(document).ready(function() {
                                        $("#@Html.FieldIdFor(model => model.ShipmentId)").kendoDropDownList({
                                            dataTextField: "Name",
                                            dataValueField: "Value",
                                            dataSource: {
                                                transport: {
                                                    read: {
                                                        dataType: "json",
                                                        url: "/api/lookupapi/GetShipments"
                                                    }
                                                }
                                            }
                                        });
                                    });
                                </script>
                                @Html.ValidationMessageFor(model => model.ShipmentId)
                            </div>

                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                    <div class="row" style="margin-top: 10px">
                        @*ETD*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">ETD:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.Etd)"
                                           name="@Html.FieldIdFor(model => model.Etd)" value="@Model.Etd"
                                           style="width: 100%" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.Etd)").kendoDatePicker({
                                                culture: "vi-VN",
                                                format: "dd/MM/yyyy"
                                            });
                                            $("#@Html.FieldIdFor(model => model.Etd)")
                                                .prop("readonly", "readonly");
                                        });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.Etd)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        
                        @*Commodity*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Commodity:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.CommodityId)"
                                           name="@Html.FieldNameFor(model => model.CommodityId)"
                                           value="@Html.ValueFor(model => model.CommodityId)" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.CommodityId)").kendoDropDownList({
                                                dataTextField: "Name",
                                                dataValueField: "Value",
                                                dataSource: {
                                                    transport: {
                                                        read: {
                                                            dataType: "json",
                                                            url: "/api/lookupapi/GetCommodities"
                                                        }
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.CommodityId)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Finish*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Finish:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.CheckBoxFor(m => m.IsFinish)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        @*Notes*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Notes:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconTextAreaFor(m => m.Notes)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                       
                   
                </div>
            </div>
        </div>
        @*modal*@
        <div id="myModal" class="modal  fade " data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="myModalContent"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/Areas/Admin/Content/js/fclimps_addedit.js"></script>
</div>




