@using System.Globalization
@using Falcon.Web.Mvc.HtmlExtensions
@using Vino.Shared.Constants.Common
@model Vino.Server.Services.MainServices.CRM.HblLclExp.Models.HblLclExpModel
@using Vino.Shared.Constants.Common

@{
    <style>
        .k-combobox .k-input {
            height: 27.5px !important
        }
    </style>
}
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

@{
    Layout = null;
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Shipper:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.ShipperId)"
                                           name="@Html.NameFor(model => model.ShipperId)"
                                           value="@Html.ValueFor(model => model.ShipperId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.ShipperId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn shipper...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/CustomerApi/GetAllCustomers",
                                                    dataType: "json",
                                                    data: filterShipper
                                                }
                                            }
                                        }
                                    });

                                    function filterShipper() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.ShipperId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(m => m.ShipperId)
                                </div>
                                <div class="col-md-1">
                                    <a onclick="openCustomerPopup('@Html.FieldIdFor(m => m.ShipperId)')">Add</a>
                                    @*  <a data-request-url="@Url.Action("OpenModal", "Customers")" id="create-shipper">Add</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Consignee:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.ConsigneeId)"
                                           name="@Html.NameFor(model => model.ConsigneeId)"
                                           value="@Html.ValueFor(model => model.ConsigneeId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.ConsigneeId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn consignee...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/CustomerApi/GetAllCustomers",
                                                    dataType: "json",
                                                    data: filterConsignee
                                                }
                                            }
                                        }
                                    });

                                    function filterConsignee() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.ConsigneeId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(m => m.ConsigneeId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Customers")" id="create-consignee">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Notify party:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.NotifyPartyId)"
                                           name="@Html.NameFor(model => model.NotifyPartyId)"
                                           value="@Html.ValueFor(model => model.NotifyPartyId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.NotifyPartyId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn consignee...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/CustomerApi/GetAllCustomers",
                                                    dataType: "json",
                                                    data: filterNotifyParty
                                                }
                                            }
                                        }
                                    });

                                    function filterNotifyParty() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.NotifyPartyId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(m => m.NotifyPartyId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Customers")" id="create-NotifyParty">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        @*Bl Number*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">B/L No:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.BlNumber)
                                    @Html.ValidationMessageFor(model => model.BlNumber)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*Booking Number*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Booking No:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.BookingNumber)
                                    @Html.ValidationMessageFor(model => model.BookingNumber)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*HblType*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">H-B/L Type:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.HblType)"
                                           name=""
                                           value="@Html.ValueFor(model => model.HblType)" />
                                    <script>
                                $(document).ready(function () {
                                    $("#@Html.FieldIdFor(model => model.HblType)").kendoComboBox({
                                        filter: "contains",
                                        placeholder: "Chọn Hbl type...",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        minLength: 1,
                                        suggest : true,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/LookupApi/GetTypeOfBillWithIds",
                                                    dataType: "json",
                                                    data: filterHblType
                                                }
                                            }
                                        }
                                    });

                                    function filterHblType() {
                                        var data = {
                                            // name : ""
                                            name: $("#@Html.FieldIdFor(model => model.HblType)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(m => m.HblType)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Carrier")" id="create-slines">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @*Forward Agent*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Forward Agent:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconTextAreaFor(m => m.ForwardingAgent)
                                    @Html.ValidationMessageFor(model => model.ForwardingAgent)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @*FreightAmount*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">FreightAmount:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.FreightAmount)
                                    @Html.ValidationMessageFor(model => model.FreightAmount)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            @*ExRef*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Ex Ref:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.ExRef)
                                    @Html.ValidationMessageFor(m => m.ExRef)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*Reference No*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Reference No:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.ReferenceNumber)
                                    @Html.ValidationMessageFor(m => m.ReferenceNumber)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*Lcl bill types*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Lcl express:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.LclExpId)"
                                           name="@Html.NameFor(model => model.LclExpId)"
                                           value="@Html.ValueFor(model => model.LclExpId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.LclExpId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn mã phiếu...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/LclExpApi/GetAll",
                                                    dataType: "json",
                                                    data: filterLclExp
                                                }
                                            }
                                        }
                                    });

                                    function filterLclExp() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.LclExpId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.LclExpId)
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                        @*FinalDestination*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Final Destination:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.FinalDestinationId)"
                                           name="@Html.NameFor(model => model.FinalDestinationId)"
                                           value="@Html.ValueFor(model => model.FinalDestinationId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.FinalDestinationId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn final destination...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/PortApi/GetAll",
                                                    dataType: "json",
                                                    data: filterPort
                                                }
                                            }
                                        }
                                    });

                                    function filterPort() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.FinalDestinationId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.FinalDestinationId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-FinalDestination">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Place Of Delivery*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Place Of Delivery:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.PlaceOfDeliveryId)"
                                           name="@Html.NameFor(model => model.PlaceOfDeliveryId)"
                                           value="@Html.ValueFor(model => model.PlaceOfDeliveryId)" />
                                    <script>
                                $(document).ready(function() {
                                    $("#@Html.FieldIdFor(model => model.PlaceOfDeliveryId)").kendoComboBox({
                                        filter: "contains",
                                        dataTextField: "Name",
                                        dataValueField: "Value",
                                        placeholder: "Chọn place of delivery...",
                                        minLength: 1,
                                        dataSource: {
                                            type: "json",
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "/api/PortApi/GetAll",
                                                    dataType: "json",
                                                    data: filterPort
                                                }
                                            }
                                        }
                                    });

                                    function filterPort() {
                                        var data = {
                                            Name: $("#@Html.FieldIdFor(model => model.PlaceOfDeliveryId)")
                                                .data("kendoComboBox").input.val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.PlaceOfDeliveryId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PlaceOfDelivery">Add</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">

                        @*FinalDestination*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Country Of Origin:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.CountryOfOriginId)"
                                           name="@Html.NameFor(model => model.CountryOfOriginId)"
                                           value="@Html.ValueFor(model => model.CountryOfOriginId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.CountryOfOriginId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn country...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetCountries",
                                        dataType: "json",
                                        data: filterCountry
                                    }
                                }
                            }
                        });

                        function filterCountry() {
                            var data = {
                                name: $("#@Html.FieldIdFor(model => model.CountryOfOriginId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.CountryOfOriginId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*Type Of Move*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Type Of Move:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.TypeOfMoveId)"
                                           name="@Html.NameFor(model => model.TypeOfMoveId)"
                                           value="@Html.ValueFor(model => model.TypeOfMoveId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.TypeOfMoveId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn type of move...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetTypeOfMove",
                                        dataType: "json",
                                        data: filterTypeOfMove
                                    }
                                }
                            }
                        });

                        function filterTypeOfMove() {
                            var data = {
                                name: $("#@Html.FieldIdFor(model => model.TypeOfMoveId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.TypeOfMoveId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*Closing Date*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Closing date:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.ClosingDate)"
                                           name="@Html.FieldIdFor(model => model.ClosingDate)" value="@Model.ClosingDate"
                                           style="width: 100%" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.ClosingDate)").kendoDatePicker({
                            culture: "vi-VN",
                            format: "dd/MM/yyyy"
                        });
                        $("#@Html.FieldIdFor(model => model.ClosingDate)")
                            .prop("readonly", "readonly");
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.ClosingDate)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @*FreightPayableAt*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Freight Payable:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.FreightPayableId)"
                                           name="@Html.NameFor(model => model.FreightPayableId)"
                                           value="@Html.ValueFor(model => model.FreightPayableId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.FreightPayableId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn freight payable...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetPlaces",
                                        dataType: "json",
                                        data: filterPlaces
                                    }
                                }
                            }
                        });

                        function filterPlaces() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.FreightPayableId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.FreightPayableId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*Number of origin*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Number of origin:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.NumberOfOriginal)
                                    @Html.ValidationMessageFor(model => model.NumberOfOriginal)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*SellingDate*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Selling Date:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.SellingDate)"
                                           name="@Html.FieldIdFor(model => model.SellingDate)" value="@Model.SellingDate"
                                           style="width: 100%" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.SellingDate)").kendoDatePicker({
                            culture: "vi-VN",
                            format: "dd/MM/yyyy"
                        });
                        $("#@Html.FieldIdFor(model => model.SellingDate)")
                            .prop("readonly", "readonly");
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.SellingDate)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        @*Local Vessel*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Local Vessel:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.LocalVessel)"
                                           name="@Html.NameFor(model => model.LocalVessel)"
                                           value="@Html.ValueFor(model => model.LocalVessel)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.LocalVessel)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn local vessel...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetVessels",
                                        dataType: "json",
                                        data: filterVessels
                                    }
                                }
                            }
                        });

                        function filterVessels() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.LocalVessel)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.LocalVessel)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Carrier")" id="create-slines">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Ocean Vessel*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Ocean Vessel:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.OceanVessel)"
                                           name="@Html.NameFor(model => model.OceanVessel)"
                                           value="@Html.ValueFor(model => model.OceanVessel)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.OceanVessel)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn ocean vessel...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetVessels",
                                        dataType: "json",
                                        data: filterVessels
                                    }
                                }
                            }
                        });

                        function filterVessels() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.OceanVessel)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.OceanVessel)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Carrier")" id="create-slines">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Port of dis*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">PortOfDischarge:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.PortOfDischargeId)"
                                           name="@Html.NameFor(model => model.PortOfDischargeId)"
                                           value="@Html.ValueFor(model => model.PortOfDischargeId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.PortOfDischargeId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn port of discharge...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/PortApi/GetAll",
                                        dataType: "json",
                                        data: filterPort
                                    }
                                }
                            }
                        });

                        function filterPort() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.PortOfDischargeId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.PortOfDischargeId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PortOfDischarge">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @*PlaceOfReceipt*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Place Of Receipt:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.PlaceOfReceiptId)"
                                           name="@Html.NameFor(model => model.PlaceOfReceiptId)"
                                           value="@Html.ValueFor(model => model.PlaceOfReceiptId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.PlaceOfReceiptId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn place of receipt...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/PortApi/GetAll",
                                        dataType: "json",
                                        data: filterPort
                                    }
                                }
                            }
                        });

                        function filterPort() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.PlaceOfReceiptId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.PlaceOfReceiptId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PlaceOfReceipt">Add</a>
                                </div>
                            </div>
                        </div>
                        @*Port Of Loaing*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Port Of Loaing:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.PortOfLoaingId)"
                                           name="@Html.NameFor(model => model.PortOfLoaingId)"
                                           value="@Html.ValueFor(model => model.PortOfLoaingId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.PortOfLoaingId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn port of loading...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/PortApi/GetAll",
                                        dataType: "json",
                                        data: filterPort
                                    }
                                }
                            }
                        });

                        function filterPort() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.PortOfLoaingId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.PortOfLoaingId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-PortOfLoaing">Add</a>
                                </div>
                            </div>
                        </div>
                        @*TranshipmentPort*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">TranshipmentPort:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.TranshipmentPortId)"
                                           name="@Html.NameFor(model => model.TranshipmentPortId)"
                                           value="@Html.ValueFor(model => model.TranshipmentPortId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.TranshipmentPortId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn port transhipment...",
                            minLength: 2,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/PortApi/GetAll",
                                        dataType: "json",
                                        data: filterPort
                                    }
                                }
                            }
                        });

                        function filterPort() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.TranshipmentPortId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.TranshipmentPortId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-TranshipmentPort">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*Container*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Container:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconTextAreaFor(m => m.Container)
                                    @Html.ValidationMessageFor(model => model.Container)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            @*Delivery Of Goods*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Delivery Of Goods:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.DeliveryOfGoodsId)"
                                           name="@Html.NameFor(model => model.DeliveryOfGoodsId)"
                                           value="@Html.ValueFor(model => model.DeliveryOfGoodsId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.DeliveryOfGoodsId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn delivery of goods...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/CustomerApi/GetAllCustomers",
                                        dataType: "json",
                                        data: filterDeliveryOfGoods
                                    }
                                }
                            }
                        });

                        function filterDeliveryOfGoods() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.DeliveryOfGoodsId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.DeliveryOfGoodsId)
                                </div>
                                <div class="col-md-1">
                                    <a data-request-url="@Url.Action("OpenModal", "Port")" id="create-slines">Add</a>
                                </div>
                            </div>
                            @*NumberOfPackage*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">NumberOfPackage:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.NumberOfPackage)
                                    @Html.ValidationMessageFor(model => model.NumberOfPackage)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @*QtyOfContainer*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">QtyOfContainer:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.QtyOfContainer)
                                    @Html.ValidationMessageFor(model => model.QtyOfContainer)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            @*PoNumber*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">PoNumber:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.PoNumber)
                                    @Html.ValidationMessageFor(model => model.PoNumber)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*DescriptionOfGoods*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">DescriptionOfGoods:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconTextAreaFor(m => m.DescriptionOfGoods)
                                    @Html.ValidationMessageFor(model => model.DescriptionOfGoods)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            @*GrossWeight*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">GrossWeight:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.GrossWeight)
                                    @Html.ValidationMessageFor(model => model.GrossWeight)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>

                            @*Unit*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Unit:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.UnitId)"
                                           name="@Html.NameFor(model => model.UnitId)"
                                           value="@Html.ValueFor(model => model.UnitId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.UnitId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn unit...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetUnitTypes",
                                        dataType: "json",
                                        data: filterUnits
                                    }
                                }
                            }
                        });

                        function filterUnits() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.UnitId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.UnitId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>

                            @*Measurement*@
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Measurement:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Measurement)
                                    @Html.ValidationMessageFor(model => model.Measurement)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        @*OnBoardStatus*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">OnBoardStatus:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconTextAreaFor(m => m.OnBoardStatus)
                                    @Html.ValidationMessageFor(model => model.OnBoardStatus)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*Commodity*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Commodity:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.CommodityId)"
                                           name="@Html.NameFor(model => model.CommodityId)"
                                           value="@Html.ValueFor(model => model.CommodityId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.CommodityId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn commodity...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetCommodities",
                                        dataType: "json",
                                        data: filterCommodities
                                    }
                                }
                            }
                        });

                        function filterCommodities() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.CommodityId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.CommodityId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>

                        @*PlaceOfIssue*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">PlaceOfIssue:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.PlaceOfIssueId)"
                                           name="@Html.NameFor(model => model.PlaceOfIssueId)"
                                           value="@Html.ValueFor(model => model.PlaceOfIssueId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.PlaceOfIssueId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn places of issue...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetPlaces",
                                        dataType: "json",
                                        data: filterPlaces
                                    }
                                }
                            }
                        });

                        function filterPlaces() {
                            var data = {
                                Name: $("#@Html.FieldIdFor(model => model.PlaceOfIssueId)")
                                    .data("kendoComboBox").input.val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.PlaceOfIssueId)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>

                        @*Date of issue*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">IssueDate:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.IssueDate)"
                                           name="@Html.FieldIdFor(model => model.IssueDate)"
                                           value="@Model.IssueDate"
                                           style="width: 100%" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.IssueDate)").kendoDatePicker({
                            culture: "vi-VN",
                            format: "dd/MM/yyyy"
                        });
                        $("#@Html.FieldIdFor(model => model.IssueDate)")
                            .prop("readonly", "readonly");
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.IssueDate)
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*modal*@
    <div id="myModal" class="modal  fade " data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>
    <input type="submit" id="btnRefreshCustomerItems" style="display: none" />
    </div>
    <script>
        function openCustomerPopup(viewId) {
            var url = '/Admin/Customers/CustomerAddPopup?viewId=' +
                viewId +
                '&btnId=btnRefreshCustomerItems&formId=hblLclExp-edit-form';
            OpenWindow(url, 800, 800, true);
                    }

        $(document).ready(function() {
            $('#btnRefreshCustomerItems').click(function (event) {
                    //refresh combobox
                $("#@Html.FieldIdFor(m => m.ShipperId)").data("kendoComboBox").dataSource.read();
                $("#@Html.FieldIdFor(m => m.ConsigneeId)").data("kendoComboBox").dataSource.read();
                $("#@Html.FieldIdFor(m => m.NotifyPartyId)").data("kendoComboBox").dataSource.read();
                $("#" + event.data.viewId).data("kendoComboBox").value(event.data.valueId);
                return false;
            })});

    </script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/hbllclexp_addedit.js"></script>
</div>
