@using System.Globalization
@using Falcon.Web.Mvc.HtmlExtensions
@model Vino.Server.Services.MainServices.CRM.Customer.Models.CrmCustomerModel

@*@model Vino.Server.Web.Areas.Admin.Controllers.CustomersController.ModelAndViewId*@

@{
    var groupIds = @ViewBag.ViewGroupIds;
    Layout = null;
}
@Html.HiddenFor(m => m.CustomerId)

<div class="content">
    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Thêm mới</h4>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*CustomerId*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Customer Id:</label>
                            </div>
                            <div class="col-md-7">
                                <label class="control-label">@Model.CustomerId</label>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        @*Name*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Name:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        @*English Name*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">English Name:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.FullEngishName)
                                @Html.ValidationMessageFor(model => model.FullEngishName)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*VietNamese Name*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">VietNamese Name:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.FullVietNamName)
                                @Html.ValidationMessageFor(model => model.FullVietNamName)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Address*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Address :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Address)
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Contact*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Contact:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.ContactId, new SelectList(Model.ContactItems, "Value", "Text"),
                                              new { @Id = @Html.FieldIdFor(m => m.ContactId), @class = "form-control select-style-1 DrpContact" })
                                @Html.ValidationMessageFor(model => model.ContactId)
                            </div>
                            <div class="col-md-1">
                                <a data-request-url="@Url.Action("OpenModal", "Contact")" id="create-contact">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Workphone*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Work phone :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.WorkPhone)
                                @Html.ValidationMessageFor(model => model.WorkPhone)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Fax No*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Fax No :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.FaxNo)
                                @Html.ValidationMessageFor(model => model.FaxNo)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Location*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Location:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.LocationId, new SelectList(Model.LocationItems, "Value", "Text"),
                                              new { @Id = @Html.FieldIdFor(m => m.LocationId), @class = "form-control select-style-1" })
                                @Html.ValidationMessageFor(model => model.LocationId)
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Home phone*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Home phone :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.HomePhone)
                                @Html.ValidationMessageFor(model => model.HomePhone)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Tax code*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Tax code:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Taxcode)
                                @Html.ValidationMessageFor(model => model.Taxcode)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        @*Category*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Category:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.CategoriesItems, "Value", "Text"),
                                              new { @Id = @Html.FieldIdFor(m => m.CategoryId), @class = "form-control select-style-1" })
                                @Html.ValidationMessageFor(model => model.CategoryId)
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Website*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Website :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Website)
                                @Html.ValidationMessageFor(model => model.Website)
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        @*Email*@
                        <div class="form-group form-custom">
                            <div class="col-md-4">
                                <label class="control-label">Email :</label>
                            </div>
                            <div class="col-md-7">
                                @Html.FalconEditorFor(m => m.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*modal*@
        <div id="myModal" class="modal  fade " data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="myModalContent"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" id="btn-save-contact" onclick="SaveCustomer()" class="btn btn-primary">Lưu</button>
    </div>
    <script type="text/javascript" src="/Areas/Admin/Content/js/customer_addedit.js"></script>
</div>
<script type="text/javascript">

        function SaveCustomer () {
            var model = JSON.stringify(GetDataRequest());
            //console.log('Request : ' + model);
            $.ajax({
                url: "@Url.Action("CreateFromSubViewAsync", "Customers")",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: model,
                cache: false,
                async: true,
                success: function (dataJs) {
                    let groupIds = dataJs.GroupIds.split(',');
                    $.each(groupIds, function(index, value) {
                        $("#" + value).data("kendoComboBox").dataSource.read();
                    });

                    let viewIds = dataJs.ViewIds;
                    $("#" + viewIds).data("kendoComboBox").value(dataJs.Value);
                   
                    $('#myModal').modal('hide');

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log('Error saving customer in ajax ' + xhr.error + thrownError.error);
                }
            });
        };

        function GetDataRequest() {
            return {
                CustomerId : '@Model.CustomerId',
                Name: $('#@Html.FieldIdFor(m => m.Name)').val(),
                FullEngishName: $('#@Html.FieldIdFor(m => m.FullEngishName)').val(),
                FullVietNamName: $('#@Html.FieldIdFor(m => m.FullVietNamName)').val(),
                Address: $('#@Html.FieldIdFor(m => m.Address)').val(),
                ContactId: $('#@Html.FieldIdFor(m => m.ContactId)').val(),
                WorkPhone: $('#@Html.FieldIdFor(m => m.WorkPhone)').val(),
                FaxNo: $('#@Html.FieldIdFor(m => m.FaxNo)').val(),
                LocationId: $('#@Html.FieldIdFor(m => m.LocationId)').val(),
                HomePhone: $('#@Html.FieldIdFor(m => m.HomePhone)').val(),
                Taxcode: $('#@Html.FieldIdFor(m => m.Taxcode)').val(),
                CategoryId: $('#@Html.FieldIdFor(m => m.CategoryId)').val(),
                Website: $('#@Html.FieldIdFor(m => m.Website)').val(),
                Email: $('#@Html.FieldIdFor(m => m.Email)').val()

            };
        }
</script>




