@using Falcon.Web.Mvc.HtmlExtensions
@model Vino.Server.Services.MainServices.System.Log.Models.LogModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div id="Employee-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", new LocalizedString("Thông tin"), true)
            </ul>
            <div class="tab-content">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Logs</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.FalconEditorFor(model => model.ShortMessage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Nội dung</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.FalconTextAreaFor(model => model.FullMessage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Ngày</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.FalconEditorFor(model => model.CreatedAt)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


