@using System.Globalization
@using Falcon.Web.Mvc.HtmlExtensions
@using Vino.Shared.Constants.Common
@model Vino.Server.Services.MainServices.CRM.Customer.Models.CrmCustomerModel


@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CustomerId)
@{
    var defaultGridPageSize = 20;
    var gridPageSizes = "10,20,50,100,500";
    <style>
        .k-combobox .k-input {
            height: 27.5px !important
        }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"]:after {
                content: "\2212";
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
    </style>

}
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*CustomerId*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Customer Id:</label>
                                </div>
                                <div class="col-md-7">
                                    <input readonly="readonly" type="text"
                                           class="form-control" id="@Html.FieldIdFor(model => model.CustomerId)"
                                           name="@Html.FieldIdFor(model => model.CustomerId)" value="@Model.CustomerId" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Name:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*English Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">English Name:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.FullEngishName)
                                    @Html.ValidationMessageFor(model => model.FullEngishName)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*VietNamese Name*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">VietNamese Name:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.FullVietNamName)
                                    @Html.ValidationMessageFor(model => model.FullVietNamName)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Address*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Address :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Address)
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Contact*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Contact:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.ContactId)"
                                           name="@Html.NameFor(model => model.ContactId)"
                                           value="@Html.ValueFor(model => model.ContactId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.ContactId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn contact...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/CrmContactApi/GetAll",
                                        dataType: "json",
                                        data: filterContact
                                    }
                                }
                            }
                        });

                        function filterContact() {
                            var data = {
                                @*Name: $("#@Html.FieldIdFor(model => model.ShipperId)")
                                                        .data("kendoComboBox").input.val()*@
                                Name : ""
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.ContactId)
                                </div>
                                <div class="col-md-1">
                                    <a onclick="openContactPopup('@Html.FieldIdFor(m => m.ContactId)')">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Workphone*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Work phone :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.WorkPhone)
                                    @Html.ValidationMessageFor(model => model.WorkPhone)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Fax No*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Fax No :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.FaxNo)
                                    @Html.ValidationMessageFor(model => model.FaxNo)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Location*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Location:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.LocationId)"
                                           name="@Html.NameFor(model => model.LocationId)"
                                           value="@Html.ValueFor(model => model.LocationId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.LocationId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn location...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetLocations",
                                        dataType: "json",
                                        data: filterLocation
                                    }
                                }
                            }
                        });

                        function filterLocation() {
                            var data = {
                                @*Name: $("#@Html.FieldIdFor(model => model.ShipperId)")
                                                        .data("kendoComboBox").input.val()*@
                                Name : ""
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.LocationId)
                                </div>
                                <div class="col-md-1">
                                    <a onclick="openLookupPopup('@Html.FieldIdFor(m => m.LocationId)', '@LookupTypes.LocationType')">Add</a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Home phone*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Home phone :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.HomePhone)
                                    @Html.ValidationMessageFor(model => model.HomePhone)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Tax code*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Tax code:</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Taxcode)
                                    @Html.ValidationMessageFor(model => model.Taxcode)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        @*Category*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Category:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="@Html.FieldIdFor(model => model.CategoryId)"
                                           name="@Html.NameFor(model => model.CategoryId)"
                                           value="@Html.ValueFor(model => model.CategoryId)" />
                                    <script>
                    $(document).ready(function() {
                        $("#@Html.FieldIdFor(model => model.CategoryId)").kendoComboBox({
                            filter: "contains",
                            dataTextField: "Name",
                            dataValueField: "Value",
                            placeholder: "Chọn category...",
                            minLength: 1,
                            dataSource: {
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/api/LookupApi/GetCategories",
                                        dataType: "json",
                                        data: filterCategory
                                    }
                                }
                            }
                        });

                        function filterCategory() {
                            var data = {
                                @*Name: $("#@Html.FieldIdFor(model => model.ShipperId)")
                                                        .data("kendoComboBox").input.val()*@
                                Name : ""
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    });
                                    </script>
                                    @Html.ValidationMessageFor(model => model.CategoryId)
                                </div>
                                <div class="col-md-1">
                                    <a onclick="openLookupPopup('@Html.FieldIdFor(m => m.CategoryId)', '@LookupTypes.CategoryType')">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        @*Website*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Website :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Website)
                                    @Html.ValidationMessageFor(model => model.Website)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        @*Email*@
                        <div class="col-md-4">
                            <div class="form-group form-custom">
                                <div class="col-md-4">
                                    <label class="control-label">Email :</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.FalconEditorFor(m => m.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="btn-close" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit"  class="btn btn-primary">Lưu</button>
    </div>
    <input type="submit" id="btnRefreshContactItems" style="display: none" />
    <input type="submit" id="btnRefreshLookupItems" style="display: none" />

</div>

<script>
    function openContactPopup(viewId) {

        var url = '/Admin/Contact/ContactAddPopup?viewId=' +
            viewId +
            '&btnId=btnRefreshContactItems&formId=popup-customer-edit-form';
        OpenWindow(url, 800, 800, true);
    }

    function openLookupPopup(viewId, type) {

        var url = '/Admin/Lookup/LookupAddPopup?viewId=' +
            viewId + "&type=" + type +
            '&btnId=btnRefreshLookupItems&formId=popup-customer-edit-form';
        OpenWindow(url, 800, 800, true);
    }

    $(document).ready(function () {

        $('#btn-close').click(function () {
            window.close();
        });

        $('#btnRefreshContactItems')[0].addEventListener("contact",
            function (event) {
                //refresh combobox
                $("#" + event.detail.viewId).data("kendoComboBox").dataSource.read();
                $("#" + event.detail.viewId).data("kendoComboBox").value(event.detail.valueId);

                return false;
            });

        $('#btnRefreshLookupItems')[0].addEventListener("lookup",
            function (event) {
                //refresh combobox
                $("#" + event.detail.viewId).data("kendoComboBox").dataSource.read();
                $("#" + event.detail.viewId).data("kendoComboBox").value(event.detail.valueId);

                return false;
            });
    });
</script>




